.pageWrapper {
  background-image: url("https://images.unsplash.com/photo-1522173096622-763cc9d35a3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footerbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: white;
  text-align: left;
}
