@import url("https://fonts.googleapis.com/css?family=Sanchez&display=swap");

*:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Sanchez", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
